# Pandas Datareader

**EMARQUE : Tous les emplacements géographiques ne fonctionnent pas bien avec le lecteur de données pandas, votre pare-feu peut aussi le bloquer !**

Les fonctions de pandas_datareader.data et pandas_datareader.wb extraient les données de diverses sources Internet dans un DataFrame pandas. Actuellement, les sources suivantes sont supportées :

* Yahoo! Finance
* Enigma
* St.Louis FED (FRED)
* Kenneth French’s data library
* World Bank
* OECD
* Eurostat
* Thrift Savings Plan
* Oanda currency historical rate
* Nasdaq Trader symbol definitions (remote_data.nasdaq_symbols)

Il convient de noter que diverses sources soutiennent différents types de données, de sorte que toutes les sources n'appliquent pas les mêmes méthodes et que les éléments de données retournés peuvent également différer.

In [1]:
import pandas_datareader.data as web

import datetime

start = datetime.datetime(2015, 1, 1)

end = datetime.datetime(2017, 1, 1)

facebook = web.DataReader("FB", 'yahoo', start, end)

In [2]:
facebook.head()

                 High        Low       Open      Close    Volume  Adj Close
Date
2015-01-02  78.930000  77.699997  78.580002  78.449997  18177500  78.449997
2015-01-05  79.250000  76.860001  77.980003  77.190002  26452200  77.190002
2015-01-06  77.589996  75.360001  77.230003  76.150002  27399300  76.150002
2015-01-07  77.360001  75.820000  76.760002  76.150002  22045300  76.150002
2015-01-08  78.230003  76.080002  76.739998  78.180000  23961000  78.180000

# FRED

In [7]:
import pandas_datareader.data as web

import datetime

start = datetime.datetime(2010, 1, 1)

end = datetime.datetime(2017, 1, 1)

gdp = web.DataReader("GDP", "fred", start, end)

In [8]:
gdp.head()

                  GDP
DATE
2010-01-01  14721.350
2010-04-01  14926.098
2010-07-01  15079.917
2010-10-01  15240.843
2011-01-01  15285.828