# Introduction aux Séries temporelles avec Pandas

Beaucoup de nos données financières auront un index datatime, alors apprenons comment traiter ce genre de données avec pandas !

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from datetime import datetime

In [3]:
# pour illustrer l'ordre des arguments
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [4]:
# January 2nd, 2017
my_date = datetime(my_year,my_month,my_day)

In [5]:
# Par défaut 0:00
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [6]:
# January 2nd, 2017 à 13:30:15
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [7]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

Vous pouvez saisir n'importe quelle partie de l'objet datetime:

In [8]:
my_date.day

2

In [9]:
my_date_time.hour

13

### Index dataetime avec Pandas

Vous traiterez généralement les séries temporelles comme un index lorsque vous travaillez avec des dataframes pandas obtenues à partir d'APIs financières. Heureusement, pandas a beaucoup de fonctions et de méthodes pour travailler avec des séries temporelles !

In [10]:
# Créer un exemple de liste/tableau datetime
first_two = [datetime(2016, 1, 1), datetime(2016, 1, 2)]
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [11]:
# Converti en un index
dt_ind = pd.DatetimeIndex(first_two)
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [12]:
# Quelques données alétaoires
data = np.random.randn(2,2)
print(data)
cols = ['A','B']

[[-1.62494962 -0.21308559]
 [-1.54507329 -0.13178909]]

In [13]:
df = pd.DataFrame(data,dt_ind,cols)

In [14]:
df

                   A         B
2016-01-01 -1.624950 -0.213086
2016-01-02 -1.545073 -0.131789

In [15]:
df.index

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [16]:
# Emplacement de la date la plus récente
df.index.argmax()

1

In [17]:
df.index.max()

Timestamp('2016-01-02 00:00:00')

In [18]:
# Emplacement de la date la plus ancienne
df.index.argmin()

0

In [19]:
df.index.min()

Timestamp('2016-01-01 00:00:00')

## Top, passons à la suite!